@using Endzone.Umbraco.PatternLib.Core.Models
@model PatternLibrary


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @{
                    foreach (var patternList in Model)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@patternList.Name <span class="caret"></span></a>
                            @ShowPatternMenu(patternList)
                        </li>
                    }
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

@helper ShowPatternMenu(Pattern patternList) {

    <ul class="dropdown-menu">
        @foreach (var pattern in patternList.Patterns)
        {
            if (pattern.IsList)
            {
                <li class="menu-item dropdown dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@pattern.Name</a>
                    @ShowPatternMenu(pattern)
                </li>
            }
            else
            {
                <li><a href="#">@pattern.Name</a></li>
            }
        }
    </ul>

}